<%- include("templates/header", {pageName: "404"}) %>
    <div class="d-flex flex-column align-items-center vh-100">
        <h1>404 - Page Not Found</h1>
        <a href="/">Return to Home</a>
    </div>
<%- include("templates/footer") %>